body{
    background-color:#FAF5F5;
    display:flex;
    justify-content: center;
}

.page_content{
    display:block;
    align-content: center;
    width:80%;
    text-align: center;
    background-color:#FFF; 
    border:solid 1px;
    border-radius:5px;
    box-shadow:5px 5px 15px #F0F0F0;
}

.vert_cent{
    align-self: center;
}